[submodule "dot/vim/autoload/pathogen"]
	path = dot/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dot/vim/bundle/colors/Color-Sampler-Pack"]
	path = dot/vim/bundle/colors/Color-Sampler-Pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "dot/vim/bundle/colors/solarized"]
	path = dot/vim/bundle/colors/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dot/vim/bundle/colors/irblack"]
	path = dot/vim/bundle/colors/irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "dot/vim/bundle/colors/molokai"]
	path = dot/vim/bundle/colors/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "dot/vim/bundle/colors/pyte"]
	path = dot/vim/bundle/colors/pyte
	url = https://github.com/vim-scripts/pyte.git
[submodule "dot/vim/bundle/colors/github"]
	path = dot/vim/bundle/colors/github
	url = https://github.com/telamon/vim-color-github.git
[submodule "dot/vim/bundle/colors/getafe"]
	path = dot/vim/bundle/colors/getafe
	url = https://github.com/larssmit/getafe.git
[submodule "dot/vim/bundle/colors/vividchalk"]
	path = dot/vim/bundle/colors/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "dot/vim/pathogen"]
	path = dot/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
