[submodule "dot/vim/pathogen"]
	path = dot/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dot/vim/bundle/vim-vividchalk"]
	path = dot/vim/bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "dot/vim/bundle/vim-colors-solarized.git"]
	path = dot/vim/bundle/vim-colors-solarized.git
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "dot/vim/bundle/vim-rails"]
	path = dot/vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "dot/vim/bundle/vim-coffee-script"]
	path = dot/vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "dot/vim/bundle/Color-Sampler-Pack"]
	path = dot/vim/bundle/Color-Sampler-Pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "dot/vim/bundle/vim-haml"]
	path = dot/vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "dot/vim/bundle/ack.vim"]
	path = dot/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "dot/vim/bundle/vim-fugitive"]
	path = dot/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dot/vim/bundle/nerdtree"]
	path = dot/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dot/vim/bundle/nerdcommenter"]
	path = dot/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
